button {
    color: #FFA665;
    border: 1px solid;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    min-width: 250px;
    font-size: 1.25rem;
}

button:hover {
    box-shadow: 0 0 5px 1px;
    background-color: #D9D9D9;
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.even {
    background-color: #778f1142;
}

.odd {
    background-color: #e09d1642;
}

.phrase_list {
    margin-right: 5px;
    min-width: 350px;
}

.phrases {
    color: #FFA665;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.phrase {
    font-size: 1.25rem;
    text-align: left;
    padding: 5px;
}

.sub_phrase {
    font-size: 1rem;
    text-align: left;
    padding: 3px;
}

.add_control, .outline_control, .reset_control {
    margin: 5px;
}

.controls {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-self:flex-start;
}